@mixin ie-opacity( $opacity ) {
  @if $legacy-support-for-ie8 {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$opacity})";
  }

  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    *filter: alpha(opacity=$opacity);
  }
//  upcoming at rule
//  @at-root {
//   :root {
//      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Enabled=false)";
//    }
//  }
}

@mixin opacity( $opacity ) {
  opacity: $opacity;
  @include ie-opacity(round($opacity * 100));
}

@mixin text-hide {
  color: transparent;
  border: 0 none;
  font: 0px/0 a;
  @include text-shadow(none);
  // Use a transparent image to set as the background of it to fix bug of IE6/7/8.
  background: transparent image-url("transparent.gif") repeat;
}

// refer to http://nicolasgallagher.com/micro-clearfix-hack/
@mixin clearfix {
  *zoom: 1;

  &:before,
  &:after {
    content: "\0020";
    display: table;
  }

  &:after {
    clear: both;
  }
}
